# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @cwel will be requested for review when someone opens a pull request.
*       @cwel

# Go code
*.go    @cwel

# Templates
*.html  @cwel

# Docker files
Dockerfile      @cwel
docker-compose.yml  @cwel

# GitHub Actions workflows
.github/workflows/  @cwel
